# ==========================================
# SERVER CONFIG
# ==========================================
NODE_ENV=
PORT=
JWT_SECRET=
REFRESH_SECRET=
SERVER_MODE=
LOCAL_IP=(auto inserted by .\setup.bat)
LOCAL_DOMAIN=(auto inserted by .\setup.bat)
BIND_ADDRESS=0.0.0.0
HTTPS_PORT=your_HTTPS_preffered_port
HTTP_PORT=your_HTTP_preffered_port
USE_JSREPORT_FALLBACK=
PDF_TAB_POOL_SIZE=
PDF_FONT_WAIT_MS=


# ==========================================
# DATABASE TYPE (leave empty for auto-detect)
# ==========================================
DB_TYPE=


# ==========================================
# REDDIS SETUP
# ==========================================
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_SOCKET=
REDIS_ENABLED=true


# ==========================================
# GITHUB SETUP
# ==========================================
GITHUB_PAT=your_personal_access_token
GITHUB_REPO=
GITHUB_RUNNER_TOKEN=XXXXXXXXXXXXXXXXXX


# ==========================================
# MYSQL CONFIGURATION
# ==========================================
MYSQL_HOST=
MYSQL_PORT=
MYSQL_USER=
MYSQL_PASSWORD=

MYSQL_DB_OFFICERS=
MYSQL_DB_WOFFICERS=
MYSQL_DB_RATINGS=
MYSQL_DB_RATINGS_A=
MYSQL_DB_RATINGS_B=
MYSQL_DB_JUNIOR_TRAINEE=


# ==========================================
# MSSQL CONFIGURATION
# ==========================================
MSSQL_HOST=
MSSQL_PORT=
MSSQL_USER=
MSSQL_PASSWORD=

MSSQL_DB_OFFICERS=
MSSQL_DB_WOFFICERS=
MSSQL_DB_RATINGS=
MSSQL_DB_RATINGS_A=
MSSQL_DB_RATINGS_B=
MSSQL_DB_JUNIOR_TRAINEE=