node_modules/
.env
.env.local
.env.production
procedures_export/py_calc_restore.sql
.vscode/settings.json
procedures_export/py_calculate_02.sql
.gitignore
procedures_export/py_calculate_01.sql
procedures_export/py_change_recordkey.sql
procedures_export/py_calculate_tax.sql
procedures_export/py_changecodes.sql
procedures_export/py_collate_payslip.sql
procedures_export/py_Compute_Arrears.sql
procedures_export/py_correct_histperiod.sql
procedures_export/py_extractrec.sql
procedures_export/py_get_value.sql
procedures_export/py_ippis_payslip.sql
procedures_export/py_pullippis_payments.sql
procedures_export/py_py24slip.sql
procedures_export/py_py37Monthend.sql
procedures_export/py_recall_payrollfiles.sql
procedures_export/py_save_payrollfiles.sql
test.html
procedures_export/py_SendPaySMS.sql
procedures_export/sp_updatePendingsSms.sql
procedures_export/py_updatepayroll_00.sql
procedures_export/py_updatepayroll_01.sql
procedures_export/py_updatepayroll_04.sql
procedures_export/py_updatepayroll_05.sql
procedures_export/py_updatepayroll_06.sql
procedures_export/py_update_payrollfiles.sql
procedures_export/py_updatepayroll_02.sql
procedures_export/py_updatepayroll_03.sql
procedures_export/sp_getPayslip.sql
procedures_export/sp_getPendingsSms.sql
logs/access.log
logs/application.log
logs/backup.log
logs/error.log
backups
backups/HicadData_full_2025-09-08T09-25-16-100Z.sql.gz
backups/HicadData_full_2025-09-08T09-55-15-740Z.sql.gz
HicadData_full_2025-09-08T09-25-16-100Z.sql
restores
.vscode

test.html
test.html
Hicad.session.sql
SwizfCodes.session.sql
test.html
cloud_backups/hicaddata_full_2025-09-16T15-59-33-322Z.sql
public/script/modals.js
uploads
migratedata.js
migratedata.js
migration_checkpoint.json
notifications
preferences
data
logs
temp
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/NAVY-PAYROLL.slnx/FileContentIndex/9dafd354-e1da-4935-ae9e-1bd0e67cdc21.vsidx
.vs/NAVY-PAYROLL.slnx/v18/.wsuo
.vs/NAVY-PAYROLL.slnx/v18/DocumentLayout.json
cert.pem
key.pem
check-db-health.js
query
test.html
NavyPayroll-App-launcher.bat
NavyPayroll-Proxy-launcher.bat
.cache
.github/hello
NavyPayroll-App.exe
NavyPayroll-App.xml
NavyPayroll-Proxy.exe
NavyPayroll-Watcher.xml
NavyPayroll-Proxy.xml
NavyPayroll-Watcher.exe
actions-runner.zip
actions-runner
bin/openssl.cnf
